.main{
    padding: 40px 2%;
}

.flexWrap{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:30px;
}

.card{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.card span{
    width: 83px;
    height: 83px;
    background: #292E36;
    border-radius: 50%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.left h1{
    font-size: 35px;
    font-weight:600;
    font-weight: 400;
}

.left p{
    font-size: 25px;
    line-height: 40px;
    font-weight: 400;
    font-family: Josefin Sans;
}